<!DOCTYPE html>
<head>
	<style type="text/css">
		h2 { color: red;
			 font-family: arial;
			 font-size: 50px;
			 border: 2px solid black;
			 padding-left: -100px;
			 text-shadow: 3px 3px 1px black;
		}

		body {
			background-color: yellow;
		}

		p {
			color: red;
			text-shadow: 2px 2px 1px black;
			font-family: arial;
			font-size: 20px;
		}

		h3 {
			font-size: 40px;
			font-family: arial;
		}

		div {
			width: 300px;
		}
	</style>
</head>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div>
<h2>Tente trocar os nomes!</h2>
</div>
<div ng-app="myApp" ng-controller="myCtrl">

Primeiro nome: <input type="text" ng-model="firstName"><br>
Último nome: <input type="text" ng-model="lastName"><br>
<br>
Nome completo: {{firstName + " " + lastName}}  <h3>Você tem cheiro de gado manso</h3>

<p>Um monte de Mickey lindo por ai e você esperando o Pateta te ligar! <br> Aqui vemos uma <STRONG>trouxa e gada</STRONG> mas eu n sou trouxa afinal eu sei torturar os outros atrevés da maldição (imperdoavel) cruciatus, vlw flw!</p>


</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "";
    $scope.lastName= "";
});
</script>

</body>
</html>
